<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>Admin</title>
    
    <link rel="stylesheet" href="/css/dashboard.css">
    <style>
      .selection{
        padding: 15px;
      }
      select{
        padding: 10px;
        border: 1px solid #000;
        margin-bottom: 7px;

      }
      input{
        padding: 10px;
        border: 1px solid #000;
        margin-bottom: 7px;
      }
      button{
        padding: 10px;
        margin-bottom: 7px;
        border: 1px solid #000;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="/images/faheemmainlogo.png" alt="" />
            <h2>BA<span class="danger">Furniture</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/adminsystem/dashboard" >
            <span class="material-symbols-outlined"> dashboard </span>
            <h3>DASHBOARD</h3>
          </a>
          <a href="/adminsystem/order">
            <span class="material-symbols-outlined"> orders </span>
            <h3>ORDERS</h3>
          </a>
          <a href="/adminsystem/sales" class="active">
            <span class="material-symbols-outlined"> point_of_sale </span>
            <h3>SALE</h3>
          </a>
          <a href="/adminsystem/newarrival" >
            <span class="material-symbols-outlined"> database </span>
            <h3>NEW ARRIVAL</h3>
          </a>
          <a href="/adminsystem/additem">
            <span class="material-symbols-outlined"> upload_file </span>
            <h3>ADD NEW</h3>
          </a>
          <a href="/adminsystem/webtraffic">
            <span class="material-symbols-outlined">
              nest_doorbell_visitor
              </span>
            <h3>WEB TRAFFIC</h3>
          </a>
          <a href="/logout">
            <span class="material-symbols-outlined"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <main>
        <h1>SALES DEPARTMENT</h1>

        <div class="insights">
          <!-- =====================================start=================================================== -->
          <div class="sales">
            <div class="middle">
              <div class="left">
                <h3>Add Sale On Seasons</h3>
                <form action="/apply-season-discount" method="POST">
                  <div class="selection">
                      <select id="season" name="season">
                        <option value="select">Select Season</option>
                          <option value="winter">Winter</option>
                          <option value="summer">Summer</option>
                      </select>
                      <input type="number" id="discountInput" name="discount" placeholder="Enter discount percentage">
                      <button type="submit" id="submitButton">Submit</button>
                  </div>
              </form>
              <h3>Remove Sale On Seasons</h3>
              <form action="/remove-season-discount" method="POST">
                <div class="selection">
                    <select id="season" name="season">
                      <option value="select">Select Season</option>
                        <option value="winter">Winter</option>
                        <option value="summer">Summer</option>
                    </select>
                    <button type="submit" id="removeButton">Remove Sale</button>
                </div>
            </form>
            </div>

              <div class="progress">
                <div class="number"></div>
              </div>
            </div>
          </div>
          <!-- =====================================end=================================================== -->
          <!-- =====================================start=================================================== -->
          <div class="sales">
           
            <div class="middle">
              <div class="left">
                <h3>Add sale on Whole Website</h3>
               
                <form action="/apply-discount" method="POST">
                  <div class="discount-section">
                      <input type="number" id="discountInput" name="discount" placeholder="Enter discount percentage">
                      <button type="submit" id="submitDiscountButton">Submit</button>
                      <button type="button" id="disableDiscountButton">Disable</button>
                  </div>
              </form>
              </div>

              <div class="progress">
                <div class="number"></div>
              </div>
            </div>
          </div>
          <!-- =====================================end=================================================== -->
          <!-- =====================================start=================================================== -->
         
          <!-- whole web sale -->
          <div class="sales">
            <div class="middle">
              <div class="left">
                <h3>Add Sale On Brands</h3>
                <form action="/apply-brand-discount" method="POST">
                  <div class="brands">
                      <select id="brands" name="brand">
                        <option value="select">Select Brand</option>
                          <option value="khaadi">khaadi</option>
                          <option value="gullahmed">gullahmed</option>
                          <option value="chanab">chanab</option>
                          <option value="sapphire">sapphire</option>
                          <option value="nishat">nishat</option>
                          <option value="chenone">chenone</option>
                          <option value="jamalhome">jamalhome</option>
                         
                      </select>
                      <input type="number" id="discountInput" name="discount" placeholder="Enter discount percentage">
                      <button type="submit" id="submitButton">Submit</button>
                      <button type="button" id="disableButton">Disable</button>
                  </div>
              </form>
              <h3>Remove Sale On Brands</h3>
              <form action="/remove-brand-discount" method="POST">
                <div class="brands">
                    <select id="brands" name="brand">
                      <option value="select">Select Brand</option>
                          <option value="khaadi">khaadi</option>
                          <option value="gullahmed">gullahmed</option>
                          <option value="chanab">chanab</option>
                          <option value="sapphire">sapphire</option>
                          <option value="nishat">nishat</option>
                          <option value="chenone">chenone</option>
                          <option value="jamalhome">jamalhome</option>
                    </select>
                    <button type="submit" id="removeButton">Remove Sale</button>
                </div>
            </form>
          </div>
          </div>
          <!-- =====================================end=================================================== -->
     
     
        <!-- ================================Top Ended============================ -->
       
    <script>
      const sideMenu = document.querySelector("aside");
      const menuBtn = document.querySelector("#menu-btn");
      const closeBtn = document.querySelector("#close-btn");
      const themeToggler = document.querySelector(".theme-toggler");
      menuBtn.addEventListener("click", () => {
        sideMenu.style.display = "block";
      });
      closeBtn.addEventListener("click", () => {
        sideMenu.style.display = "none";
      });

      themeToggler.addEventListener("click", () => {
        document.body.classList.toggle("dark-theme-variables");
        themeToggler
          .querySelector("span:nth-child(1)")
          .classList.toggle("active");
        themeToggler
          .querySelector("span:nth-child(2)")
          .classList.toggle("active");
      });

     
    </script>
     <script type="module" src="/js/admin.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
     document.getElementById('submitDiscountButton').addEventListener('click', function() {
    var discount = Math.floor(document.getElementById('discountInput').value);
    fetch('/apply-discount', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ discount: discount }),
    })
    .then(response => response.text())
    .then(data => alert(data))
    .catch((error) => {
        console.error('Error:', error);
    });
});

document.getElementById('disableDiscountButton').addEventListener('click', function() {
            fetch('/remove-discount', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch((error) => {
                console.error('Error:', error);
            });
        });
</script>

     
   
  </body>
</html>
