<section class="slider-sec">
    <div class="w3-content w3-display-container" style="max-width: 2100px !important;">
        <img class="mySlides" src="/images/pentahomebanner.png" style="width:100%">
        <img class="mySlides" src="/images/merrelindex.png" style="width:100%">
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
      </div>
      

</section>