<section class="banner-sec" style="font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;">
    <div class="container" style="height: 100vh;">
        <h1>Discover Timeless Comfort</h1>
          <div class="wine-slider">
            <div class="slide-container">
              <a class="slide slide-0" href="/alldata?category=beds" style="background-image:url(https://plus.unsplash.com/premium_photo-1670076515907-2736a3492f23?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)" data-slide="0"></a>
              <a class="slide slide-1" href="/alldata?category=sofa" style="background-image:url(https://plus.unsplash.com/premium_photo-1661765778256-169bf5e561a6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)" data-slide="1"></a>
              <a class="slide slide-2" href="/alldata?category=servings" style="background-image:url(https://plus.unsplash.com/premium_photo-1704686580626-d53ce68985d9?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)" data-slide="2"></a>
              <a class="slide slide-3" href="/alldata?category=jhoolas" style="background-image:url(https://i.pinimg.com/736x/71/48/c0/7148c0abded40e980ff7ab41efcf03f9.jpg)" data-slide="3"></a>
              <a class="slide slide-4" href="/newarrivaldata" style="background-image:url(https://images.unsplash.com/photo-1581041122145-9f17c04cd153?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)" data-slide="4"></a>
            </div>
            <div class="arrow previous"><</div>
            <div class="arrow next">></div>
          </div>
    </div>
<h1>Our Gallery</h1>

    <!-- <data value=""></data> -->
     <div class="grid image-grid">
  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=sofa&subcategory=sets&childsubcategory=5seater">
        <img class="tile-img tile-img1" src="https://images.unsplash.com/photo-1680503397107-475907e4f3e3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZnVybml0dXJlc3xlbnwwfHwwfHx8MA%3D%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=sofa&subcategory=sets&childsubcategory=3seater">
        <img class="tile-img tile-img2" src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZ1cm5pdHVyZXN8ZW58MHx8MHx8fDA%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=sofa&subcategory=lshape">
        <img class="tile-img tile-img3" src="https://images.unsplash.com/photo-1680503397671-caa25818d36f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZ1cm5pdHVyZXN8ZW58MHx8MHx8fDA%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=beds">
        <img class="tile-img tile-img4" src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVkc3xlbnwwfHwwfHx8MA%3D%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=beds&subcategory=kids&childsubcategory=bunk">
        <img class="tile-img tile-img5" src="https://images.unsplash.com/photo-1676152466751-054c5cb0af27?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMHdvb2RlbiUyMGJlZHxlbnwwfHwwfHx8MA%3D%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=beds&subcategory=kids&childsubcategory=themed">
        <img class="tile-img tile-img6" src="https://images.unsplash.com/photo-1505692795793-20f543407193?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8a2lkcyUyMGJlZHJvb218ZW58MHx8MHx8fDA%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=servings">
        <img class="tile-img tile-img7" src="https://images.unsplash.com/photo-1602872030490-4a484a7b3ba6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fHww" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=servings&subcategory=console-table">
        <img class="tile-img tile-img8" src="https://images.unsplash.com/photo-1695735485597-e26c86c57101?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG9mZmljZSUyMGZ1bGwlMjB0YWJsZXxlbnwwfHwwfHx8MA%3D%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=servings&subcategory=side-table">
        <img class="tile-img tile-img9" src="https://images.unsplash.com/photo-1611486212557-88be5ff6f941?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNpZGUlMjB0YWJsZXxlbnwwfHwwfHx8MA%3D%3D" alt="Image">
      </a>
    </div>
  </div>

  <div class="grid-block">
    <div class="tile">
      <a class="tile-link" href="/alldata?category=servings&subcategory=guest-table&childsubcategory=center">
        <img class="tile-img tile-img10" src="https://plus.unsplash.com/premium_photo-1683141450386-5d3dc0d65319?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHNpZGUlMjB0YWJsZXxlbnwwfHwwfHx8MA%3D%3D" alt="Image">
      </a>
    </div>
  </div>

</div>


    <%- include('sliderIndex', { products: products }) %>


 
</section>